.AppContents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #fafafa;
}

ul {
    list-style-type: none !important;
}
